{% extends 'layout/_base_layout.twig' %}

{% set catQuery = craft.categories() .group('genre') %}

{% set categories = catQuery.all() %}

{% block content %}
  <div class="py-24">
    <div class="flex flex-col h-screen w-11/12 rounded-2xl m-auto p-12" style="background-color: #212121;">
      <h1 class="text-white font-bold text-xl">Menampilkan semua genre game :</h1>
      {% for item in categories %}
        <a class="xl:h-8 xl:w-44 xl:text-center xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}">{{ item }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}