{% set base = currentSite.baseUrl %}

{% set menuFooter = [
    {'menu': 'Genre', 'link': base~'games?category=genre'},
    {'menu': 'Mode', 'link': base~'games?category=mode'},
    {'menu': 'Platform', 'link': base~'games?category=platform'},
  ]
%}

<!--Footer start-->
<footer class="w-full h-auto" style="background-color: #212121;">
  <div class="grid md:grid-cols-3 w-11/12 gap-x-12 gap-y-4 m-auto pt-4 pb-8">
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">About</h1>
      <p class="text-sm md:text-base pt-2">infoGames adalah website tugas magang yang berisi tentang info-info dari beberapa game, mulai dari developer, publisher, genre, mode, dan tanggal rilis game.</p>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">Menu</h1>
      <ul class="pt-2">
      {% for item in menuFooter %}
        <li><a class="hover:underline" href="{{ item.link }}">{{ item.menu }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">Find me</h1>
        <ul class="pt-2">
          <li><a class="hover:underline" href="">Instagram</a></li>
          <li><a class="hover:underline" href="">Telegram</a></li>
          <li><a class="hover:underline" href="">Github</a></li>
        </ul>
    </div>
  </div>
  <div class="w-11/12 m-auto">
    <p class="text-xs md:text-sm text-gray-300 py-4 border-t">Copyright &copy; 2021 <a class="hover:underline hover:text-gray-500" href="">infoGames</a> | Website Design by Haris purwanto</p>
  </div>
</footer>
<!--Footer end-->