{%
  set navbar =[
    {'page': 'Home', 'url': base},
    {'page': 'Games', 'url': base~'games'},
  ]
%}

<!--Navbar start-->
<nav class="flex flex-row w-full items-center justify-between p-3 fixed z-10" style="background-color: #111111;">
  <a class="text-white text-lg font-bold mx-4 py-2 transform hover:scale-125 transition duration-500" href="{{ base }}">infoGames</a>
  <ul class="flex flex-row text-gray-400 md:text-white">
  {% for item in navbar %}
    <a class="font-semibold text-white hover:text-opacity-50 transition duration-500" href="{{ item.url }}"><li class="mx-4 h-full">{{ item.page }}</li></a>
  {% endfor %}
  </ul>
</nav>
<!--Navbar end-->