{% extends 'layout/_base_layout.twig' %}

{% set subTitle = 'Homepage' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  ['fieldMatrix']
) %}

{% block content %}


<div class="h-full">
    <div class="relative flex flex-col h-screen w-full bg-center bg-cover bg-no-repeat items-center justify-center m-auto" style="background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url({{ entry.coverImage.one().url }});">
      <div class="w-10/12 md:w-3/5">
        <h1 class="text-yellow-500 text-2xl md:text-4xl text-center font-bold m-auto">{{ entry.title }}</h1>
        <div class="w-11/12 text-white text-base md:text-xl text-center m-auto py-4">{{ entry.richText }}</div>
        
        <!--Search bar-->
        {% include 'components/_search-bar.twig' %}
        
        <div class="absolute inset-x-0 bottom-0 p-2">
          <p class="text-white text-xs text-right">{{ entry.credit|raw }}</p>
        </div>
      </div>
    </div>
        
      {% for blockContent in entry.homepageContent.all() %}

        {% if blockContent.type == 'paragraph' %}
          {% include 'components/_home_paragraph.twig' %}
        {% endif %}

        {% if blockContent.type == 'accordion' %}
          {% include 'components/_accordion.twig' %}
        {% endif %}

        {% if blockContent.type == 'featuredGames' %}
          {% include 'components/_home_content.twig'
            with{
              'content' : craft.entries()
                        .section('games')
                        .orderBy('releaseGame desc')
                        .limit(blockContent.numberOfPost)
                        .all()
            }
          %}
        {% endif %}

        {% if blockContent.type == 'recentPost' %}
          {% include 'components/_home_content.twig'
            with{
              'content' : craft.entries()
                        .section('games')
                        .limit(blockContent.numberOfPost)
                        .all()
            }
          %}
        {% endif %}

      {% endfor %}
      
    </div>
  
{% endblock %}