<a href="{{ content.url }}">
  <div class="group box-content h-auto w-11/12 m-auto">
    <img class="w-full opacity-50 rounded-md group-hover:opacity-100 focus:outline-none transition duration-500 m-auto" style="height: 420px;" src="{{ content.coverImage.one().url }}" alt="">
    <h1 class="text-white text-center text-xl font-bold opacity-50 group-hover:opacity-100 transition duration-500">{{ content.title }}</h1>
  </div>
</a>