<div class="py-16">
  <div class="flex flex-col w-11/12 h-auto m-auto rounded-2xl py-8" style="background-color: #212121;">
    <h1 class="text-center text-yellow-500 text-xl md:text-2xl font-bold m-auto pt-16 pb-3">{{ blockContent.header }}</h1>
    <div class="w-6/12 sm:w-4/12 md:w-3/12 lg:w-2/12 border-2 border-yellow-500 m-auto"></div>
    <p class="text-center w-11/12 text-white text-sm md:text-lg m-auto py-4">{{ blockContent.desc }}</p>
  
      <div class="grid md:grid-cols-3 w-11/12 gap-x-8 gap-y-16 py-12 place-content-center m-auto">
        {% for item in content %}
          {% include 'components/_cover.twig'
            with{
              'content': item,
            }
          %}
        {% endfor %}
      </div>

  </div>
</div>