<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <title>infoGames</title>
  <style>
    .size img{
      height: 410px;
    }
    @media screen and (min-width: 768px) {
      .size img{
        height: 300px;
      }
    }
    @media screen and (min-width: 1024px) {
      .size img{
        height: 400px;
      }
    }
    @media screen and (min-width: 1366px) {
      .size img{
        height: 480px;
      }
    }
  </style>
</head>
<body class="min-h-full" style="background-color: #313131;">

  {% include '_navbar.twig' %}

  {% block content %}

  {% endblock %}
  
  {% include '_footer.twig' %}

</body>
</html>